target
*.log

# Android
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/*.iml
android/.idea/
android/*.keystore
android/.kotlin

# IDE
.idea/
*.iml
.vscode/

# Nix
result
.devenv/
.devenv.flake.nix
devenv.lock

# OS
.DS_Store
Thumbs.db
